body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: transparent;
    border: 1px solid #999;
    float: left;
    height: 60px;
    width: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
  }

  .material {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    background-size: contain;
    position: absolute;
  }

  .background-block {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('assets/dirt.png');
    background-size: contain;
    image-rendering: pixelated;
    z-index: -1;

  }

  .block-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .drop-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 5;
  }

  .air {
    background-color: transparent;
  }

  .stone {
    background: rgb(104, 104, 104); 
    background-image: url('assets/cobblestone.png');
    background-size: contain; 
  }

  .water {
    background-color: transparent;
    background-size: contain;
    opacity: 0.7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
   .w1-1 { 
    background-image: url('assets/water1-1.png');
  }
   .w1-2 { 
    background-image: url('assets/water1-2.png');
  }
   .w1-3 { 
    background-image: url('assets/water1-3.png');
  }
   .w1-4 { 
    background-image: url('assets/water1-4.png');
  }
   .w1-5 { 
    background-image: url('assets/water1-5.png');
  }
   .w1-6 { 
    background-image: url('assets/water1-6.png');
  }
   .w1-7 { 
    background-image: url('assets/water1-7.png');
  }
   .w1-8 { 
    background-image: url('assets/water1-8.png');
  }
   .w2-1 { 
    background-image: url('assets/water2-1.png');
  }
   .w2-2 { 
    background-image: url('assets/water2-2.png');
  }
   .w2-3 { 
    background-image: url('assets/water2-3.png');
  }
   .w2-4 { 
    background-image: url('assets/water2-4.png');
  }
   .w2-5 { 
    background-image: url('assets/water2-5.png');
  }
   .w2-6 { 
    background-image: url('assets/water2-6.png');
  }
   .w2-7 { 
    background-image: url('assets/water2-7.png');
  }
   .w2-8 { 
    background-image: url('assets/water2-8.png');
  }
   .w3-1 { 
    background-image: url('assets/water3-1.png');
  }
   .w3-2 { 
    background-image: url('assets/water3-2.png');
  }
   .w3-3 { 
    background-image: url('assets/water3-3.png');
  }
   .w3-4 { 
    background-image: url('assets/water3-4.png');
  }
   .w3-5 { 
    background-image: url('assets/water3-5.png');
  }
   .w3-6 { 
    background-image: url('assets/water3-6.png');
  }
   .w3-7 { 
    background-image: url('assets/water3-7.png');
  }
   .w3-8 { 
    background-image: url('assets/water3-8.png');
  }
   .w4-1 { 
    background-image: url('assets/water4-1.png');
  }
   .w4-2 { 
    background-image: url('assets/water4-2.png');
  }
   .w4-3 { 
    background-image: url('assets/water4-3.png');
  }
   .w4-4 { 
    background-image: url('assets/water4-4.png');
  }
   .w4-5 { 
    background-image: url('assets/water4-5.png');
  }
   .w4-6 { 
    background-image: url('assets/water4-6.png');
  }
   .w4-7 { 
    background-image: url('assets/water4-7.png');
  }
   .w4-8 { 
    background-image: url('assets/water4-8.png');
  }
   .w5-1 { 
    background-image: url('assets/water5-1.png');
  }
   .w5-2 { 
    background-image: url('assets/water5-2.png');
  }
   .w5-3 { 
    background-image: url('assets/water5-3.png');
  }
   .w5-4 { 
    background-image: url('assets/water5-4.png');
  }
   .w5-5 { 
    background-image: url('assets/water5-5.png');
  }
   .w5-6 { 
    background-image: url('assets/water5-6.png');
  }
   .w5-7 { 
    background-image: url('assets/water5-7.png');
  }
   .w5-8 { 
    background-image: url('assets/water5-8.png');
  }
   .w6-1 { 
    background-image: url('assets/water6-1.png');
  }
   .w6-2 { 
    background-image: url('assets/water6-2.png');
  }
   .w6-3 { 
    background-image: url('assets/water6-3.png');
  }
   .w6-4 { 
    background-image: url('assets/water6-4.png');
  }
   .w6-5 { 
    background-image: url('assets/water6-5.png');
  }
   .w6-6 { 
    background-image: url('assets/water6-6.png');
  }
   .w6-7 { 
    background-image: url('assets/water6-7.png');
  }
   .w6-8 { 
    background-image: url('assets/water6-8.png');
  }
   .w7-1 { 
    background-image: url('assets/water7-1.png');
  }
   .w7-2 { 
    background-image: url('assets/water7-2.png');
  }
   .w7-3 { 
    background-image: url('assets/water7-3.png');
  }
   .w7-4 { 
    background-image: url('assets/water7-4.png');
  }
   .w7-5 { 
    background-image: url('assets/water7-5.png');
  }
  .w7-6 { 
    background-image: url('assets/water7-6.png');
  }
   .w7-7 { 
    background-image: url('assets/water7-7.png');
  }
   .w7-8 { 
    background-image: url('assets/water7-8.png');
  }
   .w8-1 { 
    background-image: url('assets/water8-1.png');
  }
   .w8-2 { 
    background-image: url('assets/water8-2.png');
  }
   .w8-3 { 
    background-image: url('assets/water8-3.png');
  }
   .w8-4 { 
    background-image: url('assets/water8-4.png');
  }
   .w8-5 { 
    background-image: url('assets/water8-5.png');
  }
   .w8-6 { 
    background-image: url('assets/water8-6.png');
  }
   .w8-7 { 
    background-image: url('assets/water8-7.png');
  }
   .w8-8 { 
    background-image: url('assets/water8-8.png');
  }

  .fixw {
    background: rgb(92, 126, 190);
  }

  .bucket {
    background:rgb(145, 196, 156);
    height: 34px;
    width: 34px;
  }

  .obsidian {
    background:#000;
    height: 34px;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .bucketpiece {
    
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }